---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{if .HasExample}}
## Example Usage

{{tffile .ExampleFile}}
{{end}}
## Schema

### Required

- `cloud_account_id` (String) RSC cloud account ID (UUID).
- `cluster_config` (Block List, Min: 1, Max: 1) Configuration for the cloud cluster. Changing this forces a new resource to be created. (see [below for nested schema](#nestedblock--cluster_config))
- `region` (String) AWS region to deploy the cluster in. Changing this forces a new resource to be created.
- `vm_config` (Block List, Min: 1, Max: 1) VM configuration for the cluster nodes. Changing this forces a new resource to be created. (see [below for nested schema](#nestedblock--vm_config))

### Optional

- `timeouts` (Block, Optional) (see [below for nested schema](#nestedblock--timeouts))
- `use_placement_groups` (Boolean) Whether to use placement groups for the cluster. Changing this forces a new resource to be created.

### Read-Only

- `id` (String) Cloud cluster ID (UUID).

<a id="nestedblock--cluster_config"></a>
### Nested Schema for `cluster_config`

Required:

- `admin_email` (String) Email address for the cluster admin user. Changing this value will have no effect on the cluster.
- `admin_password` (String, Sensitive) Password for the cluster admin user. Changing this value will have no effect on the cluster.
- `bucket_name` (String) Name of the S3 bucket to use for the cluster. Changing this forces a new resource to be created.
- `cluster_name` (String) Unique name to assign to the cloud cluster.
- `dns_name_servers` (Set of String) DNS name servers for the cluster.
- `enable_immutability` (Boolean) Whether to enable immutability and object lock for the S3 bucket. Changing this forces a new resource to be created.
- `keep_cluster_on_failure` (Boolean) Whether to keep the cluster on failure (can be useful for troubleshooting). Changing this forces a new resource to be created.
- `ntp_servers` (Set of String) NTP servers for the cluster.
- `num_nodes` (Number) Number of nodes in the cluster. Changing this forces a new resource to be created.

Optional:

- `dns_search_domains` (Set of String) DNS search domains for the cluster.
- `dynamic_scaling_enabled` (Boolean) Whether to enable dynamic scaling for the cluster. Requires CDM Version 9.5+. Changing this forces a new resource to be created.
- `location` (String) Location for the cluster. This is free text, RSC will map it to the closest possible location e.g. Palo Alto, CA.
- `timezone` (String) Timezone for the cluster using IANA standard format e.g. America/Los_Angeles, Europe/Paris, etc.


<a id="nestedblock--vm_config"></a>
### Nested Schema for `vm_config`

Required:

- `cdm_version` (String) CDM version to use. Changing this forces a new resource to be created.
- `instance_profile_name` (String) AWS instance profile name for the cluster nodes. Changing this forces a new resource to be created.
- `instance_type` (String) AWS instance type for the cluster nodes. Changing this forces a new resource to be created. Supported values are `M5_4XLARGE`, `M6I_2XLARGE`, `M6I_4XLARGE`, `M6I_8XLARGE`, `R6I_4XLARGE`, `M6A_2XLARGE`, `M6A_4XLARGE`, `M6A_8XLARGE` and `R6A_4XLARGE`.
- `security_group_ids` (Set of String) AWS security group IDs for the cluster nodes. Changing this forces a new resource to be created.
- `subnet_id` (String) AWS subnet ID where the cluster nodes will be deployed. Changing this forces a new resource to be created.
- `vpc_id` (String) AWS VPC ID where the cluster will be deployed. Changing this forces a new resource to be created.

Optional:

- `vm_type` (String) VM type for the cluster. Changing this forces a new resource to be created. Possible values are `STANDARD`, `DENSE` and `EXTRA_DENSE`. `DENSE` is recommended for CCES.

Read-Only:

- `cdm_product` (String) CDM Product Code. This is a read-only field and computed based on the CDM version.


<a id="nestedblock--timeouts"></a>
### Nested Schema for `timeouts`

Optional:

- `create` (String) Create resource timeout (defaults to `60m`).
- `default` (String) Default resource timeout (defaults to `20m`).
- `read` (String) Read resource timeout (defaults to `20m`).
