---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{if .HasExample}}
## Example Usage

{{tffile .ExampleFile}}
{{end}}
## Schema

### Required

- `cloud_account_id` (String) RSC cloud account ID (UUID).
- `cluster_config` (Block List, Min: 1, Max: 1) Configuration for the cloud cluster. Changing this forces a new resource to be created. (see [below for nested schema](#nestedblock--cluster_config))
- `vm_config` (Block List, Min: 1, Max: 1) VM configuration for the cluster nodes. Changing this forces a new resource to be created. (see [below for nested schema](#nestedblock--vm_config))

### Optional

- `timeouts` (Block, Optional) (see [below for nested schema](#nestedblock--timeouts))

### Read-Only

- `id` (String) Cloud cluster ID (UUID).

<a id="nestedblock--cluster_config"></a>
### Nested Schema for `cluster_config`

Required:

- `admin_email` (String) Email address for the cluster admin user. Changing this value will have no effect on the cluster.
- `admin_password` (String, Sensitive) Password for the cluster admin user. Changing this value will have no effect on the cluster.
- `cluster_name` (String) Unique name to assign to the cloud cluster.
- `dns_name_servers` (Set of String) DNS name servers for the cluster.
- `keep_cluster_on_failure` (Boolean) Whether to keep the cluster on failure (can be useful for troubleshooting). Changing this forces a new resource to be created.
- `ntp_servers` (Set of String) NTP servers for the cluster.
- `num_nodes` (Number) Number of nodes in the cluster. Changing this forces a new resource to be created.

Optional:

- `dns_search_domains` (Set of String) DNS search domains for the cluster.
- `location` (String) Location for the cluster. This is free text, RSC will map it to the closest possible location e.g. Palo Alto, CA.
- `timezone` (String) Timezone for the cluster using IANA standard format e.g. America/Los_Angeles, Europe/Paris, etc.


<a id="nestedblock--vm_config"></a>
### Nested Schema for `vm_config`

Required:

- `cdm_version` (String) CDM version to use. Changing this forces a new resource to be created.
- `container_name` (String) Azure storage container name for the cluster. Changing this forces a new resource to be created.
- `enable_immutability` (Boolean) Whether to enable immutability for the storage account. Changing this forces a new resource to be created.
- `instance_type` (String) Azure instance type for the cluster nodes. Allowed values are `STANDARD_DS5_V2`, `STANDARD_D16S_V5`, `STANDARD_D8S_V5`, `STANDARD_D32S_V5`, `STANDARD_E16S_V5`, `STANDARD_D8AS_V5`, `STANDARD_D16AS_V5`, `STANDARD_D32AS_V5` and `STANDARD_E16AS_V5`. Changing this forces a new resource to be created.
- `network_resource_group` (String) Azure resource group name for network resources. Changing this forces a new resource to be created.
- `network_security_group` (String) Azure network security group name. Changing this forces a new resource to be created.
- `network_security_resource_group` (String) Azure resource group name for the network security group. Changing this forces a new resource to be created.
- `region` (String) Azure region to deploy the cluster in. The format should be the native Azure format, e.g. `eastus`, `westus`, etc. Changing this forces a new resource to be created.
- `resource_group_name` (String) Azure resource group name where the cluster will be deployed. Changing this forces a new resource to be created.
- `storage_account_name` (String) Azure storage account name for the cluster. Changing this forces a new resource to be created.
- `subnet` (String) Azure subnet name for the cluster nodes. Changing this forces a new resource to be created.
- `user_assigned_managed_identity_name` (String) Name of the user-assigned managed identity. Changing this forces a new resource to be created.
- `vnet` (String) Azure virtual network name. Changing this forces a new resource to be created.
- `vnet_resource_group` (String) Azure resource group name for the virtual network. Changing this forces a new resource to be created.

Optional:

- `availability_zone` (String) Availability zone for the cluster. If not specified, the cluster will be deployed in availability zone 1. Changing this forces a new resource to be created.
- `vm_type` (String) VM type for the cluster. Changing this forces a new resource to be created. Possible values are `STANDARD`, `DENSE` and `EXTRA_DENSE`. `DENSE` is recommended for CCES.

Read-Only:

- `cdm_product` (String) CDM Product Code. This is a read-only field and computed based on the CDM version.


<a id="nestedblock--timeouts"></a>
### Nested Schema for `timeouts`

Optional:

- `create` (String) Create resource timeout (defaults to `60m`).
- `default` (String) Default resource timeout (defaults to `20m`).
- `read` (String) Read resource timeout (defaults to `20m`).