---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{if .HasExample}}
## Example Usage

{{tffile .ExampleFile}}
{{end}}

## Schema

### Optional

- `cloud_account_id` (String) RSC cloud account ID. This is the ID of the `rubrik_azure_subscription` resource for which the Exocompute service runs. Changing this forces a new resource to be created.
- `host_cloud_account_id` (String) RSC cloud account ID of the shared exocompute host account. Changing this forces a new resource to be created.
- `optional_config` (Block List, Max: 1) (see [below for nested schema](#nestedblock--optional_config))
- `pod_overlay_network_cidr` (String) The CIDR range assigned to pods when launching Exocompute with the CNI overlay network plugin mode. Rubrik recommends a size of /18 or larger. The pod CIDR must not overlap with the cluster subnet or any IP ranges used in on-premises networks and other peered VNets. The default space assigned by Azure is 10.244.0.0/16. Changing this forces a new resource to be created.
- `region` (String) Azure region to run the exocompute service in. Should be specified in the standard Azure style, e.g. `eastus`. Changing this forces a new resource to be created.
- `subnet` (String) Azure subnet ID of the cluster subnet corresponding to the Exocompute configuration. This subnet will be used to allocate IP addresses to the nodes of the cluster. Changing this forces a new resource to be created.
- `subscription_id` (String, Deprecated) RSC cloud account ID. This is the ID of the `rubrik_azure_subscription` resource for which the Exocompute service runs. Changing this forces a new resource to be created. **Deprecated:** use `cloud_account_id` instead.

### Read-Only

- `id` (String) Exocompute configuration ID (UUID).

<a id="nestedblock--optional_config"></a>
### Nested Schema for `optional_config`

Optional:

- `allowlist_additional_ips` (Set of String) Allowlist additional IP addresses for the API server on the Kubernetes cluster. Requires that the `allowlist_rubrik_ips` field is set to `true`. Changing this forces a new resource to be created.
- `allowlist_rubrik_ips` (Boolean) Allowlist Rubrik IPs for the API server on the Kubernetes cluster. Defaults to `false`. Changing this forces a new resource to be created.
- `cluster_access` (String) Azure cluster access type. Possible values are `AKS_CLUSTER_ACCESS_TYPE_PUBLIC` and `AKS_CLUSTER_ACCESS_TYPE_PRIVATE`. Defaults to `AKS_CLUSTER_ACCESS_TYPE_PRIVATE`. Changing this forces a new resource to be created.
- `cluster_tier` (String) Azure cluster tier. Possible values are `AKS_CLUSTER_TIER_FREE` and `AKS_CLUSTER_TIER_STANDARD`. Defaults to `AKS_CLUSTER_TIER_FREE`. Changing this forces a new resource to be created.
- `disk_encryption_at_host` (Boolean) Enable disk encryption at host. Defaults to `false`. Changing this forces a new resource to be created.
- `max_node_count` (String) The maximum number of nodes each cluster can use. Make sure you have enough IP addresses in the subnet or a node pool large enough to handle the number of nodes to avoid launch failure. Possible values are `AKS_NODE_COUNT_BUCKET_SMALL` (32 nodes), `AKS_NODE_COUNT_BUCKET_MEDIUM` (64 nodes), `AKS_NODE_COUNT_BUCKET_LARGE` (128 nodes) and `AKS_NODE_COUNT_BUCKET_XLARGE` (256 nodes). Defaults to `AKS_NODE_COUNT_BUCKET_MEDIUM`. Changing this forces a new resource to be created.
- `private_exocompute_dns_zone_id` (String) Azure resource ID of the private DNS zone which will resolve the API server URL for a private cluster. If empty, Azure will automatically create a private DNS zone in the node resource group, and will delete it when the AKS cluster is deleted. Changing this forces a new resource to be created.
- `resource_group_prefix` (String) Prefix of resource groups associated with the cluster, such as cluster nodes. Changing this forces a new resource to be created.
- `snapshot_private_access_dns_zone_id` (String) Azure resource ID of the private DNS zone linked to the exocompute VNet, which will resolve private endpoints linked to snapshots. If empty, a new private DNS zone will be created in the Exocompute resource group. Changing this forces a new resource to be created.
- `user_defined_routing` (Boolean) Enable user defined routing. This allows the route for the Exocompute egress traffic to be configured. Defaults to `false`. Changing this forces a new resource to be created.

## Import

To import an application exocompute configuration prepend `app-` to the ID of the configuration.

Import is supported using the following syntax:

{{if .HasImportIDConfig}}
In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile}}
{{end}}

{{if .HasImport}}
The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{tffile .ImportFile}}
{{end}}
