---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{if .HasExample}}
## Example Usage

{{tffile .ExampleFile}}
{{end}}

{{ .SchemaMarkdown | trimspace }}

## Import

To import a resource scoped to a single cloud account, provide the cloud account ID to the import command. To import
a resource scoped to all cloud accounts of the cloud vendor, provide `global`. The latter scope manages an RSC
account-level configuration that don't have a unique identifier. Any other import ID is rejected, so that a malformed
cloud account ID fails the import instead of silently taking ownership of the wrong scope.

Import is supported using the following syntax:

{{if .HasImportIDConfig}}
In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile}}
{{end}}

{{if .HasImport}}
The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{tffile .ImportFile}}
{{end}}
