---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

{{if .HasExample}}
## Example Usage

Exocompute is configured per region, using one `regional_config` block for each region the cluster should run in. The
GKE pods use the `pods-cidr-range` secondary IP range on the subnet, unless another range is specified with the
`secondary_range_name` field:

{{tffile .ExampleFile}}

To run Exocompute on a Shared VPC, where the VPC network belongs to a separate host project, specify the host project
using the `host_project_id` field. Note, this is the GCP project ID of the host project, not the RSC cloud account ID,
which is why the example below reads `project_id` and not `id` from the `rubrik_gcp_project` data source:

{{tffile "examples/resources/rubrik_gcp_exocompute/shared-vpc.tf"}}
{{end}}

{{ .SchemaMarkdown | trimspace }}

## Import

To import the resource, you need to provide the ID of the RSC cloud account for which the Exocompute service is
configured.

Import is supported using the following syntax:

{{if .HasImportIDConfig}}
In Terraform v1.5.0 and later, the [`import` block](https://developer.hashicorp.com/terraform/language/import) can be used with the `id` attribute, for example:

{{tffile .ImportIDConfigFile}}
{{end}}

{{if .HasImport}}
The [`terraform import` command](https://developer.hashicorp.com/terraform/cli/commands/import) can be used, for example:

{{tffile .ImportFile}}
{{end}}
